<tr>
  <td><%=answer.body%></td>
  <td><%=answer.correct_output%></td>
  <td><%=link_to t("edit"), edit_admin_answer_path(answer)%> |</td>
  <td><%=link_to t("delete"), [:admin, answer],
                            method: :delete,
                            data: { confirm: t("confirm") } %>
  </td>
</tr>
