<tr>
  <td><%=answer.body%></td>
  <td><%=answer.correct_output%></td>
  <td><%=link_to 'Изменить', edit_admin_answer_path(answer)%> |</td>
  <td><%=link_to 'Удалить', [:admin, answer],
                            method: :delete,
                            data: { confirm: "Вы уверены?" } %>
  </td>
</tr>
