<h1>TestGuru</h1>
<table>
  <tr>
    <th>Категория</th>
    <th>Название</th>
    <th>Уровень</th>
    <th>Создан</th>
    <th>Кол-во вопросов</th>
    <th colspan="2">Действия</th>

  </tr>
  <%= render @tests %>
</table>
